/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"); */

html {
  height: 100%;
  scroll-behavior: auto !important;
  scroll-padding: 48px;
}
body {
  /* font-family: "Noto Sans JP"; */
}
.flex-container {
  display: flex;
  width: 1340px;
  max-width: 100%;
  margin-inline: auto;
  min-height: 100%;
}
header {
  width: 300px;
  flex-shrink: 0;
}
main {
  padding: 16px;
  width: 100%;
}
.calendar-table {
  table-layout: fixed;
  caret-color: transparent;
}
.nav-link {
  padding-block: 10px;
}
